# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Data (very important for your case)
data/
images/

# Model files
*.h5
*.keras
*.ckpt

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db